.App {

  height: auto;
}


.border {
  border: 1px solid black;

}


.fl {
  display: flex;
  justify-content: space-evenly;
}


.blue{
color: blue;

}

/* .width {
  width: 8%;
} */


.margin {

  margin-top: 20px;
}

/* .marg {
  margin: 0;
} */

.tran {
  transform: translateX(-12px);
}

.tran2 {
  transform: translateX(13px)
}

.back {
  background-color:#fd7e14 ;
}


.b {
  /* border: 2px solid black; */
  height: auto;
}


.carContainer {
  transform: translateX(-12px);
}

.profileImg {
border-radius: 200px;
}

.profileImgWrap {
 
  margin-bottom: 20px;
  
}

.searchBar {

  margin-top: 20px;
}

.nameWrap {

  margin-top: 10%;
}

.bestSelling {

transform: translateY(50%);

}

.visitStore {

  margin-top: 10%;
  width: 100%;
  /* padding: 5px; */
border: none;
color: white;
}


.wearSection {
/* height: 500px; */

margin-top: 20px;
margin-bottom: 100px;
 
}

.carouselHeight {

height: auto;
}

.menu {

  margin-bottom: 50px;
}


.sectionHead {

  height: 400px;
}

.sectionHead  div {

  height: auto;
}

.caroPic {

height: 350px;

}
.col-3 {
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  
}

.col-3:focus {
font-weight: bold;
}

.col-3:hover {
 background-color: rgb(234, 169, 49);
 
  }

.searchBtn {
  width: 7%;
  
  }
  



@media screen and (max-width: 768px) {
  
.bestSelling {


  transform: translateY(8%);
  font-size: 10px;
}

  .visitStore {
   transform: translateY(-20px);
   
  }

  
  .carouselHeight {

    height: auto;
    }

.bs {

  font-size: 5px;
}

}

.searchBtn {
width: 20%;

}


.col-3 {
  font-size: 12px;
}

